/* Palette
light green C9CBA3
light yellow FFE1A8
terracotta E26D5C
purple 723D46
brown-purple 472D30
*/

body {
  margin: 0px;
  background-color: #FFE1A8;
  font-family: fantasy;
}

.header {
  background-color: #472D30;
  color: white;
  height: 50px;
  font-family: cursive;
  font-size: 30px;
  padding: 15px 0 5px 0;
  text-align: center;
}

.selectScreen {
  display: flex;
  background-color: #723D46;
  color: white;
  padding: 20px;
  font-size: 20px;
  
}

.selectScreen > label {
  margin: 0 20px;
}

.sorry {
  font-size: 30px;
  padding: 50px;
  text-align: center;
}

.intro {
  margin: 40px;
  border: solid 10px rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.screen {
  padding: 30px;
}

.holder {
  height: 140px;
}

.note {
  padding: 10px;
  margin: 10px;
  text-align: center; 
}

.error {
  background-color: pink;
}

.tip {
  background-color: #f9eeda;
}

.playerTurn {
  margin-top: 10px;
  text-align: center;
}

.dice {
  text-align: center;
  padding: 20px;
}

.opaque {
  opacity: 20%;
}

.player1 {
  width: 30%;
}

.player2 {
  width: 30%;
}

.board {
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid;
  height: 50px;
}

td {
width: 50px;
}

.clickable {
  cursor: pointer;
}

.null {
  background-color: black;
}

.red {
  background-color: red;
}

.container {
  display: flex;   
  justify-content: center; 
}

.rosette {
  background-image: url('/src/svg/rosette.svg');
}

.gameButton {
  margin-bottom: 20px;
}